/***
 * This CSS will be included in WordCamp Europe 2025 every time
 * you will make a repository commit and reload remote CSS from the website
 * admin view (Appearance -> Remote CSS) or visiting
 * https://europe.wordcamp.org/2025/wp-admin/admin-ajax.php?action=wcrcss_webhook
 * https://europe.wordcamp.org/2025/ CSS will be synched with this file
 *
 * Development environment is on https://wceutest.wordcamp.org/2025 and also includes
 * this remote CSS. Update CSS from the website admin view (Appearance -> Remote CSS)
 * or visiting https://wceutest.wordcamp.org/2025/wp-admin/admin-ajax.php?action=wcrcss_webhook

 * Don't use post IDs as selectors because they can change between development environment and production.
 * Instead, use the slug; e.g. body.post-slug-call-for-volunteers, body.page-slug-accommodation or better,
 * create a class and use it on the element because we can reuse these classes.
 *
 * CSS vars defined on website Theme (vars values can change during the development process):
 *  --wp--preset--color--custom-orange-primary: #f04614;
 *  --wp--preset--color--custom-light-blue-primary: #1ec8dc;
 *  --wp--preset--color--custom-black-primary: #00000f;
 *  --wp--preset--color--custom-pink-secondary: #faaff0;
 *  --wp--preset--color--custom-yellow-secondary: #ffe65f;
 *  --wp--preset--color--custom-white-secondary: #f5f5f5;
 *
 *  --wp--preset--font-family--body: "Inter", sans-serif;
 *  --wp--preset--font-family--heading: Cardo;
 */


/* Styles for the Header Intro with Blend Element */

:root {
	/*
		Some custom properties for sizes, so we don't need to repeat the values.
		Most sizes use clamp() to have a min and max value, and a value that grows with the viewport width.
		The values in comments are the viewport width range where the value is applied.
		e.g 40px for 1200px screen, and 400px for 2400px screen. The inbetwen values are calculated by the browser.
	 */

	--width__blend-element: clamp( 40px, calc(-320px + 30vw), 400px ); /* 1200 - 2400 */
	--height__blend-element: 100%;

	--height__second-row: clamp( 60px, calc( 60px + 7.5vw ), 180px ); /* 0 - 1600 */
	--height__third-row: clamp( 20px, calc( 20px + 2vw ), 40px ); /* 0 - 1000 */

	--width__second-row-first-col: clamp( 200px, calc( 80px + 60vw ), 800px ); /* 200 - 1200 */
}

.wp-block-group:has(>.blend-element) {
	position: relative; /* the blend is element is absolute, so we need relative here */
}

/* The blend element, which overlays some of the colors */
.blend-element {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	padding: 0;
	width: var( --width__blend-element );
	height: var( --height__blend-element );
	background: #1ec8dc;
	mix-blend-mode: multiply;
}

.second-row .wp-block-spacer {
	height: var( --height__second-row ) !important; /* we need important, because the spacer has a fixed height */
}

.second-row .wp-block-column:first-child {
	flex-basis: auto !important;
	flex-grow: 0 !important;
	width: var( --width__second-row-first-col ) !important; /* we need important, because the column has a fixed width */
}

.third-row .wp-block-spacer {
	height: var( --height__third-row ) !important; /* we need important, because the spacer has a fixed height */
}

/* Styles for smaller screens. Does not need to be 799, can be somethin else in the future. */
@media screen and (max-width: 799px) {
	.wp-block-group:has(>.blend-element) {
		--width__blend-element: clamp( 40px, calc(40px + 15vw), 160px ); /* 0 - 800 */
		--height__blend-element: calc( var( --height__second-row ) + ( var( --height__second-row ) / 3 * 2 ) + var( --height__third-row ) );
	}
	.first-row > .wp-block-group {
		padding-top: calc( var( --height__second-row ) / 2 );
		padding-bottom: var( --height__second-row );
	}
}
